inst/doc
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
README_cache/
vignettes/man/
vignettes/using-runstats_cache/
vignettes/using-runstats.R
vignettes/using-runstats.html
README2.Rmd
README2.md
README2_cache/
docs/README2.html
